<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>pgp.asc</title>
  <meta name="description" content="pgp.asc is an initiative to decentralize public PGP keys, making it easier to get an up to date and authenticated key.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="assets/icon_maze_key.ico">


  <link rel="stylesheet" href="assets/application.css">
  <link href='https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:600italic,300' rel='stylesheet' type='text/css'>
  <script src="assets/application.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><h3><%= value %></h3></div>
  <% end %>

  <%= yield %>

  <!-- Footer -->
  <section class="footer">
    <div class="wrapper">
      <div class="footer__section">
        <h4 class="footer__heading">Are you using pgp.asc?</h4>
        <p class="footer__text">Awesome! Submit your site below:</p>
        <!-- Form -->
        <%= form_for @person, url: persons_path, html: {class: "footer__form"} do |f| %>
          <%= f.text_field :name, class: "footer__form--input", placeholder: "Your name" %>
          <%= f.text_field :url, class: "footer__form--input", placeholder: "Your website" %>
          <%= f.text_field :mail, class: "footer__form--input", placeholder: "Your email", type: 'email' %>
          <%= f.submit "", class: "footer__form--submit-button", type: "image", src: "assets/button_submit.png" %>
        <% end %>
        <!-- End of Form -->
      </div>
      <div class="footer__section footer__section--social">
        <h4 class="footer_heading">Social Links</h4>
        <a href="https://github.com/mstoiber/pgp.asc" onclick="OWATracker.trackAction('social', 'click', 'github');"><div class="social__github"></div></a>
        <a href="https://twitter.com/mxstbr" onclick="OWATracker.trackAction('social', 'click', 'twitter');"><div class="social__twitter"></div></a>
        <a href="https://www.facebook.com/pgp.asc" onclick="OWATracker.trackAction('social', 'click', 'facebook');"><div class="social__fb"></div></a>
      </div>
      <div class="footer__section footer__section--contribute">
        <h4 class="footer__heading">Contribute</h4>
        <p class="footer__text">Head over to <a href="https://github.com/mxstbr/pgp.asc" onclick="OWATracker.trackAction('footer', 'click', 'github');">GitHub</a> to join the discussion!</p>
      </div>
    </div>
  </section>

  <!-- Start Open Web Analytics Tracker -->
  <script type="text/javascript">
  //<![CDATA[
  var owa_baseUrl = 'http://analytics.mxstbr.com/';
  var owa_cmds = owa_cmds || [];
  owa_cmds.push(['setSiteId', '4a7d8a01d9d8ddb8d8d43b48e835da7a']);
  owa_cmds.push(['trackPageView']);
  owa_cmds.push(['trackClicks']);
  owa_cmds.push(['trackDomStream']);

  (function() {
    var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
    owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
    _owa.src = owa_baseUrl + 'modules/base/js/owa.tracker-combined-min.js';
    var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
  }());
  //]]>
  </script>
  <!-- End Open Web Analytics Code -->
</body>
</html>
