<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>pgp.asc</title>
  <meta name="description" content="pgp.asc is an initiative to decentralize public PGP keys, making it easier to get an up to date and authenticated key.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="icon" href="assets/icon_maze_key.png">
  <link rel="icon" href="assets/icon_maze_key.ico">


  <link rel="stylesheet" href="assets/application.css">
  <link href='http://fonts.googleapis.com/css?family=Merriweather|Open+Sans:600italic,300' rel='stylesheet' type='text/css'>
  <script src="assets/application.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><h3><%= value %></h3></div>
  <% end %>

  <%= yield %>

  <!-- Footer -->
  <section class="footer">
    <div class="wrapper">
      <div class="footer__section">
        <h4 class="footer__heading">Are you using pgp.asc?</h4>
        <p class="footer__text">Awesome! Submit your site below:</p>
        <!-- Form -->
        <%= form_for @person, url: persons_path, html: {class: "footer__form"} do |f| %>
          <%= f.text_field :name, class: "footer__form--input", placeholder: "Your name" %>
          <%= f.text_field :url, class: "footer__form--input", placeholder: "Your website" %>
          <%= f.text_field :mail, class: "footer__form--input", placeholder: "Your email", type: 'email' %>
          <%= f.submit "", class: "footer__form--submit-button", type: "image", src: "assets/button_submit.png" %>
        <% end %>
        <!-- End of Form -->
      </div>
      <div class="footer__section footer__section--social">
        <h4 class="footer_heading">Social Links</h4>
        <a href="https://github.com/mstoiber/pgp.asc"><div class="social__github"></div></a>
        <a href="https://twitter.com/mstoiber05"><div class="social__twitter"></div></a>
        <a href="#"><div class="social__fb"></div></a>
      </div>
      <div class="footer__section footer__section--contribute">
        <h4 class="footer__heading">Contribute</h4>
        <p class="footer__text">Head over to <a href="https://github.com/mstoiber/pgp.asc">GitHub</a> to join the discussion!</p>
      </div>
    </div>
  </section>

  <!-- Google Analytics -->
  <script>
  (function(b,o,i,l,e,r) {
    b.GoogleAnalyticsObject = l;
    b[l] || (b[l] =
      function() {
        (b[l].q = b[l].q || []).push(arguments)
      });
    b[l].l = +new Date;
    e = o.createElement(i);
    r = o.getElementsByTagName(i)[0];
    e.src = '//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e, r)
  }(window, document, 'script', 'ga'));
  ga('create', 'UA-49258834-2', 'auto');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');
  </script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>
</html>
