<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>pgp.asc</title>
  <meta name="description" content="pgp.asc is an initiative to decentralize public PGP keys, making it easier to get an up to date and authenticated key.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="icon" href="assets/icon_maze_key.png">
  <link rel="icon" href="assets/icon_maze_key.ico">


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Merriweather|Open+Sans:600italic,300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><h3><%= value %></h3></div>
  <% end %>
  <%= yield %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/assets/menu.js"></script>
</body>
</html>
